/* Custom Styles */

/* NavBar */

ul#menu-header-menu-1 {
  flex-direction: row;
}
.menu {
  color: #fff !important;
  transition: background-color 0.7s ease-in-out;
}
.down {
  background-color: #0b0b0b;
}
.btn-color {
  background: linear-gradient(90deg, #ff0000 0%, #ff9900 100%);
}

/* Hero */

@media (min-width: 768px) {
  .bor-r-sal {
    border-right-width: 1px !important;
  }
}

/* Footer */

@media (max-width: 768px) {
  .cel-sal {
    display: grid;
    gap: 30px;
    justify-items: center;
  }
}
